// load teh variables and mixins from parent theme so we can use in our child theme
@import '../soren/less/variables.less';
@import '../soren/less/mixins.less';

// comments test
#soren-comments-wrap {
    display: none;
}

// menu button
.menu-btn {
    color:@soren-bg-color;
    background:@vulcan-accent;
    padding:6px 8px;
    &:hover {
        
    }
}

// header
.vulcan-header-wrap {
    position: relative;
    display: table;
    width: 100%;
    height: 400px;
    margin-bottom: 5rem;
    text-align: center;
    background: @vulcan-accent;

    .vulcan-header {
        display: table-cell;
        vertical-align: middle;

        .vulcan-header-inner {
            position: relative;
            width: 80%;
            max-width: @soren-width;
            margin: 0 auto;

            h1,h2 {
                color:white;
                margin:0;

                a {
                    color:white;
                }
            }

            .vulcan-site-title {
                font-weight:bold;
            }

            .vulcan-site-description {
                font-size:1.75rem;
                letter-spacing: 0.1rem;
                color:white;
            }
        }
    }

    @media(max-width:@soren-width){
        height:200px;
    }
}

// posts
article {
    border-bottom:1px solid @baseContrast;
    margin-bottom:2rem;
    padding-bottom:1rem;

    .soren-entry-title {
        margin:1.5rem 0;
        font-weight:bold;
        color:@vulcan-accent;
    }

    .soren-entry-date {
        font-family:@headings-font-family;
        font-size:@font-size-xsmall;
        color:@flip-text;
    }
}

// Post Author
.soren-post-author {
    border-top:1px solid @baseContrast;
    padding-top:1.5rem;
    .thumbnail {
        display: block;
    }
    .avatar {
        border-radius:50%;
    }
}

//creds
.soren-creds {
    font-size:@font-size-small;
    .opacity(0.3);

    &:hover {
        .opacity(0.85);
        .transition(.15s ease-in-out);
    }
}

//shares
.vulcan-post-shares {
    text-align: center;
    a {
        .opacity(0.35);
        margin-right:0.75rem;
        background: @vulcan-accent;
        color:@soren-bg-color;
        font-size:1.25rem;
        padding:0.4rem;
        border-radius:50%;
        width:24px;
        height:24px;
        text-align: center;
        display: inline-block;

        i {
            text-align: center;
            line-height: 1rem;
        }

        &:hover {
            color:@soren-bg-color;
            .opacity(1.0);
            background: @soren-link-color;
            .transition(all .15s linear);
            .rotate(360deg);
        }

        &:last-of-type {
            margin-right:0;
        }
    }
}